div#mainBox {
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    height: 100%;
    
    overflow: hidden;
}

div#titleText {
    padding-left: 2px;
    display: block;
    font-family: sans-serif;
    font-size: x-large;
}

div#loopsArea {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div#controlsArea {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding-top: 10px;
    width: 15%;
    height: 100%;
}

.synthUI {
    width: 30%;
    height: auto;
}

div#synthArea {
    display: flex;
    height: 100%;
}

div#filterDialArea {
    padding-top: 10px;
    display: block;
}

div#lfoDialArea {
    padding-top: 10px;
    display: block;
}

div#delayDialArea {
    padding-top: 10px;
    display: block;
}

div#reverbDialArea {
    padding-top: 10px;
    display: block;
}

div#padArea {
    flex-grow: 1;
}

#inputPad {
    padding-top: 10px;
    display: inline-block;
    height: 100%;
    width: 100%;
}